fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: requirements-txt-fixer
        args: [--filenames requirements/base.txt]
    -   id: debug-statements
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
-   repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.7.4
    hooks:
      - id: pylint
# -   repo: https://github.com/pycqa/pydocstyle
#     rev: 6.1.1
#     hooks:
#     -   id: pydocstyle
#         args: [--convention=google]
# -   repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v0.991
#     hooks:
#       - id: mypy
