black
click==8.0.4
coverage[toml]
docformatter[tomli]
isort
jsonargparse[signatures]
mypy
numpy>=1.21.0
pandas
pillow
pydantic
pydocstyle
pylint
pytest
pytoml
pyyaml
pytorch-lightning>=1.6.0
setuptools
tqdm
wheel
h5py
termcolor
torch
torchvision
bdd100k
devtools
utm
kornia==0.6.1

types-toml
types-termcolor
types-tabulate
types-PyYAML
types-requests
