black
coverage[toml]
isort
mypy
numpy>=1.21.0
pillow
pydantic
pydocstyle
pylint
pytest
pytoml
pyyaml
setuptools
tqdm
wheel
h5py
git+git://github.com/scalabel/scalabel.git
git+git://github.com/bdd100k/bdd100k.git
mmcv-full
devtools
utm
kornia

types-toml
types-termcolor
types-tabulate
types-PyYAML
types-requests