black
coverage[toml]
isort
mypy
git+git://github.com/SysCV/mmdetection.git
mmcv-full
numpy>=1.21.0
pillow
pydantic
pydocstyle
pylint
pytest
pytoml
pyyaml
setuptools
tqdm
wheel
h5py
git+git://github.com/scalabel/scalabel.git
torch
torchaudio
torchvision
git+git://github.com/bdd100k/bdd100k.git
devtools

types-toml
types-termcolor
types-tabulate
types-PyYAML
types-requests