[[train]]
name = "kitti_track_train"
annotations = "data/KITTI/tracking_training.json"
type = "KITTI"
data_root = "data/KITTI"
input_dir = "data/KITTI"
split = "training"
data_type = "tracking"
output_dir = "data/KITTI"
num_processes = 0
    [train.dataloader]
    fields_to_load = ["boxes2d", "boxes3d", "intrinsics", "extrinsics"]
    skip_empty_samples = true

    [train.dataloader.ref_sampling]
    type = 'uniform'
    scope = 5
    num_ref_imgs = 1
    skip_nomatch_samples = true

    [[train.dataloader.transformations]]
    type = "Resize"
    kwargs = {"shape" = [375, 1242]}

[[train]]
name = "kitti_det_train"
annotations = "data/KITTI/detection_training.json"
type = "KITTI"
data_root = "data/KITTI"
input_dir = "data/KITTI"
split = "training"
data_type = "detection"
output_dir = "data/KITTI"
num_processes = 0
    [train.dataloader]
    fields_to_load = ["boxes2d", "boxes3d", "intrinsics", "extrinsics"]
    skip_empty_samples = true

    [train.dataloader.ref_sampling]
    type = 'uniform'
    scope = 5
    num_ref_imgs = 1
    skip_nomatch_samples = true

    [[train.dataloader.transformations]]
    type = "Resize"
    shape = [375, 1242]

[[test]]
name = "kitti_track_val"
annotations = "data/KITTI/tracking_training.json"
type = "KITTI"
data_root = "data/KITTI"
input_dir = "data/KITTI"
split = "training"
data_type = "tracking"
output_dir = "data/KITTI"
multi_sensor_inference = false
num_processes = 0
    [test.dataloader]
    fields_to_load = ["boxes2d", "boxes3d", "intrinsics", "extrinsics"]

    [[test.dataloader.transformations]]
    type = "Resize"
    shape = [375, 1242]