[[train]]
name = "kitti_track_train"
annotations = "data/KITTI/anns/tracking_training.json"
type = "KITTI"
data_root = "data/KITTI"
input_dir = "data/KITTI"
split = "training"
data_type = "tracking"
output_dir = "data/KITTI/anns"
num_processes = 0

[[train]]
name = "kitti_det_train"
annotations = "data/KITTI/anns/detection_training.json"
type = "KITTI"
data_root = "data/KITTI"
input_dir = "data/KITTI"
split = "training"
data_type = "detection"
output_dir = "data/KITTI/anns"
num_processes = 0

[[test]]
name = "kitti_sample_train"
type = "KITTI"
data_root = "data/KITTI"
input_dir = "data/KITTI"
mode = "mini"
data_type = "tracking"
output_dir = "data/KITTI/anns"
num_processes = 0

[dataloader]
workers_per_gpu = 0
categories = ["car", "pedestrian", "cyclist"]
skip_empty_samples = true
fields_to_load = ["boxes2d", "boxes3d", "intrinsics", "extrinsics"]
    [dataloader.data_backend]
    type = "FileBackend"
    [dataloader.ref_sampling_cfg]
    type = 'uniform'
    scope = 3
    num_ref_imgs = 1
    skip_nomatch_samples = true

    [[dataloader.train_augmentations]]
    type = "Resize"
    kwargs = {"shape" = [375, 1242]}

    [[dataloader.train_augmentations]]
    type = "RandomHorizontalFlip"
    kwargs = {"p" = 0.5}

    [[dataloader.train_augmentations]]
    type = "RandomRotation"
    kwargs = {"p" = 0.5, "degrees" = 10.0}

    [[dataloader.test_augmentations]]
    type = "Resize"
    kwargs = {"shape" = [375, 1242]}
