[[train]]
name = "bdd100k_sem_seg_sample_train"
type = "Scalabel"
annotations = "vis4d/engine/testcases/segment/bdd100k-samples/annotation.json"
data_root = "vis4d/engine/testcases/segment/bdd100k-samples/images"
config_path = "vis4d/engine/testcases/segment/bdd100k-samples/config.toml"
num_processes = 0
    [train.dataloader]
    fields_to_load = ["semantic_masks"]

        [train.dataloader.ref_sampling]
        type = 'uniform'
        scope = 1
        num_ref_imgs = 0

    [[train.dataloader.transformations]]
    type = "Resize"
    keep_ratio = true
    shape = [720, 1280]
    scale_range = [0.8, 1.2]

    [[train.dataloader.transformations]]
    type = "RandomCrop"
    crop_type = "absolute"
    shape = [512, 1024]
    cat_max_ratio = 0.75

    [[train.dataloader.transformations]]
    type = "KorniaAugmentationWrapper"
    kornia_type = "RandomHorizontalFlip"
    prob = 0.5

    [[train.dataloader.transformations]]
    type = "KorniaColorJitter"
    kornia_type = "ColorJitter"
    kwargs = {"brightness" = [0.8, 1.2], "contrast" = [0.8, 1.2], "saturation" = [0.8, 1.2]}

[[test]]
name = "bdd100k_sem_seg_sample_val"
type = "Scalabel"
annotations = "vis4d/engine/testcases/segment/bdd100k-samples/annotation.json"
data_root = "vis4d/engine/testcases/segment/bdd100k-samples/images"
config_path = "vis4d/engine/testcases/segment/bdd100k-samples/config.toml"
num_processes = 0
eval_metrics = ["sem_seg"]
    [test.dataloader]
    fields_to_load = ["semantic_masks"]

    [[test.dataloader.transformations]]
    type = "Resize"
    shape = [720, 1280]
