# This workflow will install Python dependencies, run tests and lint
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: install
        run: |
          python3 -m pip install --upgrade pip
          bash ./scripts/install_cpu_dep_full.sh
          python3 -m pip freeze

      - name: isort
        run: python3 -m isort -c vis4d

      - name: black
        run: python3 -m black --check vis4d

      - name: lint
        run: python3 -m pylint vis4d

      - name: docstyle
        run: python3 -m pydocstyle --convention=google vis4d

      - name: mypy
        run: |
          python3 -m mypy vis4d

  test:
    name: test py${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
      - uses: actions/checkout@v2
      - name: set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: install dependencies
        run: |
          python3 -m pip install --upgrade pip
          bash ./scripts/install_cpu_dep_full.sh
          python3 -m pip freeze

      - name: test
        run: python3 -m coverage run --source=vis4d -m pytest --pyargs vis4d

      - name: test coverage
        run: python3 -m coverage report --fail-under=99 -m

      - name: build
        run: python3 setup.py sdist bdist_wheel
